* {
    cursor: default;
}

*::-webkit-scrollbar {
    display: none;
}

#root::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 9999;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;
}

body.light {
    /* Light Colors */
    --primary-color: #F1F1F1;
    --secondary-color: #d62828;
    --secondary-color-mouse: rgba(214, 40, 40, 0.1);
    --light-color: #293241;
    --dark-color: #eff6e0;
    --accent-color: #e36414;
    --shadow-color: rgba(227, 100, 20, 0.2);
    --shadow-color-small: rgba(227, 100, 20, 0.15);
    --shadow-color-about: rgba(227, 100, 20, 0.05);
    --card-hover-color: rgba(214, 226, 233, 0.5);
    --badge-color: #e36414;
    --badge-bg-color: rgba(0, 119, 255, 0.2);
    --badge-text-color: rgb(0, 119, 255);
    --badge-shadow-color: rgba(0, 119, 255, 0.5);
}

body.dark {
    --primary-color: #293241;
    --secondary-color: #fdfcdc;
    --secondary-color-mouse: rgba(130, 192, 204, 0.1);
    --light-color: #e0fbfc;
    --dark-color: #293241;
    --accent-color: #ffa62b;
    --shadow-color: rgba(224, 251, 252, 0.15);
    --shadow-color-small: rgba(130, 192, 204, 0.2);
    --shadow-color-about: rgba(130, 192, 204, 0.02);
    --card-hover-color: rgba(224, 251, 252, 0.2);
    --badge-bg-color: rgba(111, 255, 231, 0.1);
    --badge-text-color: rgb(111, 255, 231);
    --badge-shadow-color: rgba(111, 255, 231, 0.5);
}

/* Body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--light-color);
    background-color: var(--primary-color);
    background-blend-mode: color-burn;
}

/* Heading */
h2 {
    color: var(--accent-color);
}

h3 {
    color: var(--secondary-color);
}

/* Global container */
.modern-container {
    z-index: 1;
    width: 90vw;
    height: 90vh;
    display: flex;
    padding: 3vh;
    border-radius: 15px;
    gap: 10vw;
}

/* Menu and social items */
.aside-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3vh;
}

.aside-container .social-container {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

/* Contact */

/* About me */
.control-buttons {
    display: flex;
    gap: 1vh;
    width: 100%;
    justify-content: space-between;
    place-items: center;

}

.language {
    display: flex;
    gap: 1vh;
    place-items: center;
}

.trad-button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    box-shadow: 0 0 20px 0 var(--shadow-color-small);
    transition: all 0.3s;
    padding: 0.5vh 1vw;
    cursor: pointer;
}

.about {
    margin-bottom: 3vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
    background: var(--shadow-color-about);
    padding: 3vh;
    border-radius: 15px;
}

.about h2 {
    font-size: x-large;
}

.about .name {
    font-size: small;
    text-align: center;
    margin-bottom: 1vh;
}

.about-content {
    width: 100%;
}

.avatar {
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    border: 1px solid var(--shadow-color);
    box-shadow: 0 0 20px 0 var(--shadow-color-small);
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.about-content-header {
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 4vh 0;
}

.about > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-general {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 1vh;
    margin-bottom: 1vh;
}

.contact-buttons {
    display: flex;
    gap: 1vh;
    justify-content: space-around;
}

.social-actions {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1vh;
}

.social-card {
    padding: 1.5vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid var(--shadow-color);
    box-shadow: 0 0 20px 0 var(--shadow-color);
    transition: all 0.3s;
    cursor: pointer;
}

.social-card:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px 5px var(--shadow-color-small);
    color: var(--accent-color);
}

.social-card * {
    cursor: pointer;
}

.email-container {
    margin-top: 1vh;
}

.email-input {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    box-shadow: 0 0 20px 0 var(--shadow-color-small);
    transition: all 0.3s;
    padding: 1vh;
    cursor: text;
    width: 100%;
}

.copy-button, .copy-button-contact {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    box-shadow: 0 0 20px 0 var(--shadow-color);
    transition: all 0.3s;
    height: fit-content;
    padding: 1vh;
    cursor: pointer;
}

.copy-button:hover, .copy-button-contact:hover {
    box-shadow: 0 0 30px 5px var(--shadow-color-small);
    color: var(--accent-color);
}

.copy-button-contact {
    display: none;
}

.cv {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    transition: all 0.3s;
    padding: 1vh;
    cursor: pointer;
    animation: shadow-pulse 2s infinite;
}

.repository-text:hover {
    color: var(--accent-color);
}

/* Main content */
.modern-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    width: 30vw;
    border: var(--shadow-color) 1px solid;
    box-shadow: 0 0 15px 0 var(--shadow-color-small);
    padding: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.modern-card:hover {
    background: var(--card-hover-color);
}

.modern-card * {
    cursor: pointer;
}

.main-content {
    width: 100%;
}

.link-text {
    font-size: 2rem;
    transition: all;
    opacity: 0.7;
}

.link-text:hover {
    opacity: 100;
    color: var(--accent-color);
}

.link-bar {
    width: 0;
    transition: all;
    transition-duration: 300ms;
    height: 2px;
    border: none;
    border-radius: 1px;
    color: var(--accent-color);
    background-color: var(--accent-color);
}

.menu-item {
    margin-bottom: 2vh;
}

.content {
    overflow-y: auto;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    place-items: flex-end;
    gap: 1vh;
}

.non-active-content {
    display: none;
}

.toggle-social {
    display: flex;
    gap: 5px;
}

.toggle-out {
    display: none;
}

.toggle-switch {
    background-color: var(--shadow-color-small);
    box-shadow: 0 0 15px 0 var(--shadow-color);
    border: var(--shadow-color) 1px solid;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 2vw;
    height: 1.2vw;
    border-radius: 1vw;
    margin-bottom: 1vh;
}

.toggle-switch.of {
    background-color: var(--shadow-color);
}

.toggle-switch-circle {
    transition: all 0.1s;
    transform: translateX(1vw);
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 100%;
    background-color: var(--accent-color);
}

.toggle-switch.of .toggle-switch-circle {
    transform: translate(0.2vw);
    background-color: var(--light-color);
}

.toggle-input {
    display: none;
}

.small {
    display: none;
}

.heading {
    place-items: end;
    justify-content: flex-end;
    text-align: right;
}

.footer-hr{
    border: 0;
    height: 1px;
    background: var(--shadow-color);
    margin-bottom: 1vh;
}

/* Icons */
.icon-default {
    background: var(--badge-bg-color);
    font-weight: bold;
    display: flex;
    place-items: center;
    justify-content: center;
    color: var(--badge-text-color);
    box-shadow: 0 0 5px 0 var(--badge-shadow-color);
    padding: 0.3vh 1.5vw;
    border-radius: 9999px;
    transition: all 0.3s;
    animation: badge-bounce 4s infinite;
}

/* Effects */
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end);
}

@media (max-width: 1650px) {
    .aside-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .main-content {
        display: inline;
        height: 100vh;
        overflow-y: scroll;
    }

    .link-text {
        font-size: 1rem;
        height: max-content;
    }

    .content{
        place-items: center;
    }

    .email-container {
        margin-top: 0;
    }

    body {
        overflow: auto;
    }
}

@media (max-width: 1024px) {
    body {
        overflow-y: scroll;
    }

    .modern-container {
        height: 100%;
    }

    .aside-container {
        height: 100%;
    }

    .content {
        height: auto;
        overflow: hidden;
    }

    .big{
        display: none;
    }

    .small {
        display: inline;
    }

    .copy-button-contact {
        display: inline;
    }

    .contact-general {
        width: 100%;
    }

    .social-container {
        width: 100%;
    }

    .social-actions {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .social-actions > * {
        flex-grow: 1;
        margin: 0 1vw;
    }

    .email-container {
        width: 100%;
    }

    .about {
        width: 100%;
    }

    .modern-card {
        width: 100%;
    }

    .toggle-social {
        display: none;
    }

    .toggle-switch {
        width: 4vw;
        height: 2vw;
        border-radius: 1vw;
    }

    .toggle-switch-circle {
        transition: all 0.1s;
        transform: translateX(2vw);
        width: 1.3vw;
        height: 1.3vw;
        border-radius: 100%;
        background-color: var(--accent-color);
    }
    .icon-default {
        font-size: small;
        padding: 0.1vh 3vw;
        margin: 1vw;
    }
}

@media (max-width: 600px) {
    .heading {
        place-items: center;
        justify-content: center;
        text-align: center;
    }

    .toggle-switch {
        width: 6vw;
        height: 3vw;
        border-radius: 3vw;
    }

    .toggle-switch-circle {
        transition: all 0.1s;
        transform: translateX(3vw);
        width: 2vw;
        height: 2vw;
        border-radius: 100%;
        background-color: var(--accent-color);
    }

    .toggle-switch.of .toggle-switch-circle {
        transform: translate(0.5vw);
        background-color: var(--light-color);
    }
}

@media (max-width: 550px) {
    .social-actions {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .about > .header {
        flex-direction: column;
        gap: 0.5vh;
    }

    .about-content-header {
        flex-direction: column;
        margin: 1vh 0;
    }

    .avatar {
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 450px) {
    .toggle-switch {
        width: 10vw;
        height: 5vw;
        border-radius: 3vw;
    }

    .toggle-switch-circle {
        transition: all 0.1s;
        transform: translateX(5.5vw);
        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        background-color: var(--accent-color);
    }

    .toggle-switch.of .toggle-switch-circle {
        transform: translate(0.8vw);
        background-color: var(--light-color);
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 10px 0 var(--shadow-color);
    }
    50% {
        box-shadow: 0 0 50px 0 var(--shadow-color);
    }
    100% {
        box-shadow: 0 0 10px 0 var(--shadow-color);
    }
}

@keyframes badge-bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}